doctype html
html
    head
        link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.2/dist/leaflet.css')
        script(src='https://unpkg.com/leaflet@1.0.2/dist/leaflet.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        title= title
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
        body.container
        h1= title
        style.
            #mapid {
                height: 400px;
            }
            #info {
                width:250px;
                height:100px;
                background:rgba(255, 255, 255, 0.7);
                border: 1px solid #617EF6;
                border-radius:5px;
                position:fixed;
                top:200px;
                left:calc(50% - 125px);
                margin:auto;
                padding:10px;
                color:#617EF6;
            }
    body
        #mapid

        #info
            h2 Waiting for the Ajax Callback...


        script.
            // Create the map
            var map = L.map('mapid').setView([1.33408874400,-74.8409581650], 15);

            // Set up the OSM layer
            L.tileLayer(
                'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 18
                }
            ).addTo(map);

            $.ajax({
                type: "GET",
                url: 'https://aplicacionsig2.herokuapp.com/data',
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    response.type = "FeatureCollection";

                    var markers = response;

                    console.log('markers: ', markers)

                    for ( var i=0; i < markers.length; ++i ) 
                    {
                        L.marker([markers[i].coor_y, markers[i].coor_x])
                            .bindPopup( '<a href="' + markers[i].gid + '" target="_blank">' + markers[i].name + '</a>' )
                            .addTo( map );
                    }
                }
            });



