doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
  body.container
    h1= title
    

    div(class="col s12 m9")
        table(class="highlight")
            thead
                tr
                    th N°
                    th NOMBRE DE LOS PUNTOS INTERES

            tbody
                each itemp, i in datos
                    tr
                        td
                            label #{itemp.gid}
                        td
                            label #{itemp.name}                
